<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DDX_Multihack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DDX_Multihack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DDX_Multihack.Properties.Settings>
      <setting name="AlliesColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="EnemiesColor" serializeAs="String">
        <value>#FFFF0000</value>
      </setting>
      <setting name="FovColor" serializeAs="String">
        <value>#FFFF0000</value>
      </setting>
      <setting name="SkeletonAlliesColor" serializeAs="String">
        <value>#FF00FF00</value>
      </setting>
      <setting name="SkeletonEnemiesColor" serializeAs="String">
        <value>#FFFF0000</value>
      </setting>
      <setting name="ActiveWeaponColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="HeadHelperColor" serializeAs="String">
        <value>#FF00FF00</value>
      </setting>
      <setting name="BackgroundColor" serializeAs="String">
        <value>#FF000000</value>
      </setting>
      <setting name="EntitiesColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="ChickensColor" serializeAs="String">
        <value>#FFFFFF00</value>
      </setting>
      <setting name="AdditionalInfoColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="RankColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="NameColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="HealthBarColor" serializeAs="String">
        <value>#FFFF0000</value>
      </setting>
      <setting name="EnemiesVisColor" serializeAs="String">
        <value>#FFFF00FF</value>
      </setting>
      <setting name="SkeletonEnemiesVisColor" serializeAs="String">
        <value>#FFFF00FF</value>
      </setting>
      <setting name="RecoilCrosshairColor" serializeAs="String">
        <value>#FF00FFFF</value>
      </setting>
      <setting name="SpecialEntitiesColor" serializeAs="String">
        <value>#FF00FF00</value>
      </setting>
      <setting name="PathAlliesColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="PathEnemiesColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="ChamsAlliesColor" serializeAs="String">
        <value>#FF00FF00</value>
      </setting>
      <setting name="ChamsEnemiesColor" serializeAs="String">
        <value>#FFFF00FF</value>
      </setting>
      <setting name="SpectatorsColor" serializeAs="String">
        <value>#FFFF0000</value>
      </setting>
    </DDX_Multihack.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <applicationSettings>
    <DDX_Multihack.Properties.Settings>
      <setting name="Font" serializeAs="String">
        <value>SquareFont</value>
      </setting>
    </DDX_Multihack.Properties.Settings>
  </applicationSettings>
</configuration>